**/*.tgz
**/Dockerfile
.DS_Store
.env
.eslintcache
.vscode
.idea
coverage
dist
node_modules
npm-debug.log
package
yarn.lock
.claude/
.claude-flow/
.hive-mind/
.mcp.json
.roo/
.roomodes
.swarm/
claude-flow
claude-flow.bat
claude-flow.config.json
claude-flow.ps1
memory/