# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Test & Release

on:
  workflow_dispatch:
    inputs:
      debug:
        description: 'Debug'
        type: boolean
        default: true
      dry-run:
        description: 'Dry run'
        type: boolean
        default: true
  push:
    branches: ['main']
  pull_request:
    branches: '*'

jobs:
  quality:
    name: Quality test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests on Node lts/*
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - run: npm ci
      - run: npm run pretest

  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [quality]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Run Release on Node lts/*
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - run: npx semantic-release --debug ${{ inputs.debug }} --dry-run ${{ inputs.dry-run }}
